<%- include('partials/header') -%>



<main class="container">
    <div class="jumbotron">
        <h1 class="display-4 " style="margin-left:50px">Welcome!</h1>
        <p class="lead"style="margin-left:50px">Study Buddy allows you to keep track of your learning while staying touch with friends!</p>
        <hr class="my-4"style="margin-left:50px">
        <p style="margin-left:50px">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg margin ml-3"  style="margin-left:100px" href="/info" role="button">Learn more</a>
      </div>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>