<%- include('partials/header') -%>



<!--- <main class="container">
    <div class="jumbotron">
        <h1 class="display-4 " style="margin-left:50px">Welcome!</h1>
        <p class="lead"style="margin-left:50px">Study Buddy allows you to keep track of your learning while staying touch with friends!</p>
        <hr class="my-4"style="margin-left:50px">
        <p style="margin-left:50px">It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg margin ml-3"  style="margin-left:100px" href="/info" role="button">Learn more</a>
      </div>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main> -->

<div class="container-fluid ">
	
	<div class="row"> <!---big carousel-->
		<div class="col-md-12 p-0">
			<div class="carousel slide" id="carousel-592952">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-592952">
					</li>
					<li data-slide-to="1" data-target="#carousel-592952">
					</li>
					<li data-slide-to="2" data-target="#carousel-592952" class="active">
					</li>
				</ol>
				<div class="carousel-inner" style="height: 600px !important;">
					<div class="carousel-item" style="height: 550px !important;">
						<img class="d-block" style="height: 550px !important; width: 100vh;" alt="Carousel Bootstrap First" src="https://www.layoutit.com/img/sports-q-c-1600-500-1.jpg" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="carousel-item" style="height: 550px !important;">
						<img class="d-block w-100" style="height: 550px !important;" alt="Carousel Bootstrap Second" src="https://www.layoutit.com/img/sports-q-c-1600-500-2.jpg" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="carousel-item active" style="height: 550px !important;">
						<img id="c3" class="d-block w-100" style="height: 1400px !important; object-position: 0px -650px;" alt="Carousel Bootstrap Third" src="/imgs/c3.jpg" />
						<div class="carousel-caption">
							<h4>
								New Spring Jackets for Spring 23
							</h4>
							<p>
								<button class="button button-primary">Shop Men </button>
                                <button class="button button-primary">Shop Women </button>
							</p>
						</div>
					</div>
				</div> <a class="carousel-control-prev" href="#carousel-592952" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-592952" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
			</div>
		</div>
	</div>
	<div class="row d-flex"> <!--- first row images 4/4/4 -->
        <div class="col-md-4 firstRowImg" style="padding: 0;" style="padding: 0;">

            <img class="behind " src="imgs/man.jpg" style="height: 600px; width: 33.33% " alt="">

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href="">                    
                        <section class="section1 appear" style="height: 600px; width: 33vw;">
                                <h1 class="text-center text-dark bg-light" style="" >MAN</h1>
                        </section>
                    </a>
           
		</div>
        <div class="col-md-4 firstRowImg" style="padding: 0;" style="padding: 0;">

            <img class="behind " src="imgs/woman.jpg" style="height: 600px; width: 33.33% " alt="">

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href="">                    
                        <section class="section1 appear" style="height: 600px; width: 33vw;">
                                <h1 class="text-center text-dark bg-light" style="" >WOMAN</h1>
                        </section>
                    </a>
           
		</div>
		<div class="col-md-4 firstRowImg" style="padding: 0;" style="padding: 0;">

            <img class="behind " src="imgs/bag2.jpg" style="height: 600px; width: 33.33% " alt="">

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href="">                    
                        <section class="section1 appear" style="height: 600px; width: 33vw;">
                                <h1 class="text-center text-dark bg-light" style="" >ACCESSORIES</h1>
                        </section>
                    </a>
           
		</div>
	</div>
	<div class="row" ><!--- second row images 2/2-->
		<div class="col-md-6 w-50" style="padding: 0; height: 600px;" style="padding: 0;">
            <img class="behind w-50" src="imgs/nyc2.jpg" style="height: 600px; " alt="">

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href="">                    
                        <section class="section1 appear" style="height: 600px; width: 50vw;">
                                <h1 class="text-center text-dark " style="margin-bottom: 120px;" >NYC STORE</h1>
                        </section>
                    </a>
            
            
		</div>
		<div class="col-md-6 w-50" style="padding: 0; height: 600px;" style="padding: 0;">
            <img class="behind w-50 " src="imgs/seoul2.jpg" style="height: 600px; " alt=""> 
            

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href=""> 
                                          
                        <section class="section1 appear" style="height: 600px; width: 50vw;">
                            
                                <h1 class="  text-center text-white" style="margin-bottom: 120px;" >SEOUL STORE</h1>
                        </section>
                    </a>
            
            
		</div>
	</div>
	<div class="row" > <!--- third row images 3/3/3/3-->
		<div class="col-md-3" style="padding: 0px">
            <img class="pageImg behind" style="height: 350px;  width:25vw; padding: 0px" src="imgs/merch/blacktee.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white" style="" >Heavyweight Tee</h1>
            </section>           
             </a>
		</div>
		<div class="col-md-3" style="padding: 0px">
            <img class="pageImg behind" style="height: 350px;  width:25vw; padding: 0px" src="imgs/merch/greyteew.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white" style="" >Heavyweight Tee</h1>
            </section>           
             </a>
		</div>
		<div class="col-md-3" style="padding: 0px">
            <img class="pageImg behind" style="height: 350px;  width:25vw; padding: 0px" src="imgs/merch/pinkteem.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white" style="" >Pink Tee</h1>
            </section>           
             </a>
		</div>
		<div class="col-md-3" style="padding: 0px">
            <img class="pageImg behind" style="height: 350px;  width:25vw; padding: 0px" src="imgs/merch/orangecrop.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white" style="" >Pink Tee</h1>
            </section>           
             </a>
		</div>
	</div>
	<div class="row"> <!--- cards 4/4/4 -->
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4" style="padding: 0px">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="imgs/card1.jpg" style="height:275px"  />
						<div class="card-block bg-dark text-light" style="height: 220px">
							<h5 class="card-title text-center">
								Sign up for exclusive discounts
							</h5>
							<p class="card-text" style="padding: 0 30px 0 30px">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p class="text-center">
								<a class="btn btn-primary" href="#">Sign up</a> 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="padding: 0px">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="imgs/card2.jpg" style="height:275px"  />
						<div class="card-block bg-secondary" style="height: 220px">
							<h5 class="card-title text-center">
								Shop the sale
							</h5>
							<p class="card-text" style="padding: 0 30px 0 30px">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p class="text-center">
								<a class="btn btn-primary" href="#">Shop</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="padding: 0px">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="imgs/card3.jpg" style="height:275px" />
						<div class="card-block bg-dark text-light" style="height: 220px">
							<h5 class="card-title text-center">
								Browse the bestsellers
							</h5>
							<p class="card-text" style="padding: 0 30px 0 30px">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p class="text-center">
								<a class="btn btn-primary" href="#">Browse</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"> <!--- csign up form -->
        <div class="col-md-6" style=" height: 500px; padding: 0px; background-size:cover;">
            <img class="behind" src="imgs/signup.jpg" style="height: 500px; width: 50vw;" alt="">

            
            <h1 class="text-white inFront"> <!---placeholder text!!!! ---></h1>
        </div>
		<div class="col-md-6 d-flex flex-column justify-content-center bg-dark">
			<form role="form d-flex flex-column">
				<div class="form-group d-flex flex-column text-center">
					 
					<label for="exampleInputEmail1" class="mx-auto text-center text-white " style="width: 100%;">
						<h2>Sign up for the lastest drops</h2>
					</label>
					<input type="email" class="form-control signUp mx-auto mt-3" id="exampleInputEmail1" placeholder="Enter your Email address" />
				</div>
			


                    <div class="row justify-content-center align-self-center">
                        <button type="submit" class="btn btn-light mt-3" style="width: 100px;"> <!-- try d-text / mx-auto -->
                            Submit
                        </button>
                    </div>
                   
			</form>
		</div>
	</div>
</div>
    

<%- include('partials/footer') -%>