<%- include('partials/header') -%>


<main class="container">
        <div>
            <h1>About</h1>

        </div>
        <div>
            <p>
                This project is a work i progress that is meant to be a type of social media for learning with friends. At the moment
                I feel the main idea of the site isn't solidified as well as I would like it to be.<br> I intended this to be a site where
                users create posts of their study sessions and keep track of their progress while sharing their sessions and thoughts with friends,
                and while perhaps it isn't a bad idea, I feel I need to go back to the drawing board to rethink what the exact functionality I want will be.<br>
                So with that said: for now I will continue to work on this project but I may start from scratch using what I learned here to 
                make a much better prototype.</p>
            <p>
                Thank you for visiting!
            </p>

            <a href="/feed" class="col-3 btn btn-primary"> Back to home</a>
        </div>


</main>

<%- include('partials/footer') -%>