*, ::after, ::before {
  box-sizing: border-box;
}
#brandName{
  
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 1.5em
  
}
.ptSans{
  font-family: 'PT Sans';
    font-weight: 400;
    font-size: 4em;
}
.ptSansSmall{
  font-family: 'PT Sans';
    font-weight: 400;
    font-size: 3em;
}


.headerGap{
  margin-top: 56px;
}

.profPicMain{
    height: 150px;
    width: 150px;
}
#c3{
  
  object-position:  top;
}

.hov{
  
  color: white;
}


a {
    text-decoration: none;
    color: black
}
a:hover{
    color: orange;
}
.siteTitle{
    text-decoration: none;
    color: black;
}

body{
    background: darkgray;
}


.modal-content {
    background-color: transparent;
  }
  .modal-dialoge {
    background-color: transparent;
  }
  .modal{
    background-color: transparent;
  }

  .profPicUpdateBtn {
    display: block;
  }

  .navbar{
    background-color: grey;
  }

  .pageImg{
    padding-left: 0px;
    padding-right: 0px;
  }
  .signUp{
    width: 50%;
  }

  .card{
    border: none;
    border-radius: none;
  }

  .card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .img{
      z-index: 0;
    }
    
  

    .firstRowImg {
      height: 600px;
      
      padding: 0px;
      background-size: cover;
      background-repeat: no-repeat;
    }

.behind{
  z-index: 0;
  position: absolute;
}
.inFront{
  z-index: 1;
  position: relative;
  color: white;
  vertical-align: middle
}
.outer {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.section1 {
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.appear{
  opacity: 0.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
.appear:hover{
   opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
} 
.containerProd {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-auto-rows: 500px; 
  gap: 20px 20px; 
}
.galleryCard{
  height: 100%;
}
.galleryItem1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem7{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem8{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem9{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

/***** GALLERY ENDS ****/

.map {
  height: 400px; 
  width: 100%; /* The width is the width of the web page */
}

.seoulBgImg{
background-image: url("/imgs/seoul2.jpg");
background-size: cover;
background-position: 0px -680px;

}
#NYmap{
  height: 200px;
}

.productPage{
  display: inline-block;
}
.productPage > li{
  list-style: none;
  display: inline-block;
  width: 24%;
}
